@charset "utf-8";
/*!
 * File Info: HTMLとCSSの講座
*/

/** ========================================
 * @RESET
 * リセット
 * ====================================== */
/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-style: normal;
	vertical-align: baseline;
	/*aタグとかをタップしたときに色が変わるのを防ぐ*/
	-webkit-tap-highlight-color: rgba(253, 153, 153, 0);
	/*回転したときなど文字の大きさを調整*/
	-webkit-text-size-adjust : 100% ;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
main {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
em {
	font-weight: bold;
}
input,textarea,button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input:focus,textarea:focus,button:focus {
	outline: 0;
}



/** ========================================
 * @GENERAL
 * 全般
 * ====================================== */
/** --------------------
 * カスタムプロパティ（今回はメモに使用した）
 * ------------------ */
 :root {
	--color-primaly: #90ae23;
	--color-primaly-md: #728E0C;
	--color-primaly-d: #4e5e15;
	--color-secondly: #1D5175;
	--color-secondly-d: #042944;
	--color-accent:  #A72241;
}


/** --------------------
 * 全体
 * ------------------ */
body {
	font-size: 16px;
	line-height: 1;
}
body,
body * {
	box-sizing: border-box;
}



/** ========================================
 * @HEADER
 * ヘッダー
 * ====================================== */
header {
	z-index: 0;
	position: relative;
	width: 100%;
	padding: 6.4rem 3.5rem;
	background: url(../images/main_visual.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
}
header::after {
	z-index: -1;
	content: "";
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
}

header h1 {
	z-index: 1;
	margin-top: 1rem;
	font-size: 3.5rem;
	font-weight: bold;
}


/** ========================================
 * @MAIN
 * メイン要素
 * ====================================== */
main {
	width: 100%;
}

/** ========================================
 * @CONTENT
 * コンテンツ
 * ====================================== */
.full_width {
	width: 100%;
}

.content {
	max-width: 1024px;
	margin: 8rem auto 0;
}

.content_heading {
	position: relative;
	margin-bottom: 2.4rem;
	padding-bottom: 1.2rem;
	color: #90ae23;
	font-size: 1.8rem;
	text-align: center;
	font-weight: bold;
}
.content_heading::after {
	content: "";
	position: absolute;
	display: inline-block;
	bottom: 0;
	left: 50%;
	width: 3rem;
	height: 4px;
	background: #90ae23;
	border-radius: 2px;
	transform: translateX(-50%);
}

.content p {
	line-height: 1.6;
}


@media screen and (max-width: 1024px) {
	.content {
		padding: 0 1rem;
	}
}

@media screen and (max-width: 640px) {
	.content {
		max-width: initial;
		margin-top: 4rem;
	}
}


/* ------------------------------
 * overview
 * LCWとは
 * --------------------------- */
.content_overview p {
	text-align: center;
}


/* ------------------------------
 * feature
 * LCWの特徴
 * --------------------------- */

/** --------------------
 * カードのラッパー
 * ------------------ */
.feature_cards {
	display: flex;
	flex-wrap: wrap;
}

/** --------------------
 * カード
 * ------------------ */
.card {
	display: flex;
	flex-direction: column;
	width: calc((100% - 2rem) / 3);
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow-wrap: break-word;
	transition: all .3s linear;
}
.card:hover {
	transform: translateY(-1rem);
}


.card:not(:nth-child(3n + 1)) {
	margin-left: 1rem;
}
.card:nth-child(n + 4) {
	margin-top: 1rem;
}

/* ----- カード見出し ----- */
.card_title {
	padding: 1.2rem 1rem;
	border-bottom: 1px dashed #e7e7e7;
	text-align: center;
}

/* ----- カードテキスト ----- */
.card_text {
	flex-grow: 1;
	padding: 1rem;
}

/* ----- カードリンクボタン ----- */
.card_link {
	position: relative;
	height: 4rem;
	background: #f5f5f5;
	text-align: center;
}
.card_link a {
	overflow: hidden;
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	max-width: 80%;
	max-height: 80%;
	padding: .8rem;
	background: #1D5175;
	border-radius: 2px;
	box-shadow: 0 2px 0 0 #042944;
	color: #fff;
	text-decoration: none;
	transform: translate(-50%, -50%);
}
.card_link a:hover {
	opacity: .9;
	box-shadow: none;
}
.card:hover .card_link a {
	transform: translate(-50%, -50%) scale(1.125);
}


@media screen and (max-width: 640px) {

	.feature_cards {
		display: block;
	}

	.card {
		width: 100%;
	}

	.card:not(:nth-child(3n + 1)) {
		margin-left: 0;
	}
	.card:nth-child(n + 4) {
		margin-top: 0;
	}
	.card:not(:first-child) {
		margin-top: 2rem;
	}

}


/* ------------------------------
 * news
 * お知らせ
 * --------------------------- */
.full_width_news {
	background: #f5f5f5;
}
.content_news {
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
}

.news_list li:not(:first-child) {
	margin-top: 1.8rem;
}
.news_list time {
	margin-right: .8rem;
}

.news_list a {
	overflow: hidden;
	display: inline-block;
	width: calc(100% - 10rem);
	color: #1D5175;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;

}
.news_list a:hover {
	opacity: .5;
}


/* ------------------------------
 * subscribe
 * LCWに申し込む
 * --------------------------- */
.content_subscribe {
	position: relative;
}
.subscribe_form {
	text-align: center;
}

/** --------------------
 * 吹き出し
 * ------------------ */
.content_subscribe::before {
	content: attr(data-cacth);
	position: absolute;
	display: inline-block;
	top: -12%;
	left: 50%;
	width: 12rem;
	padding: 1.4rem 0;
	background: #728E0C;
	border-radius: 50%;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	transform: translate(-50%, -100%) rotate(-8deg);
}
.content_subscribe::after {
	content: "";
	position: absolute;
	display: inline-block;
	top: -12%;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 16px solid #728E0C;
	transform: translate(-50%, 0) rotate(-8deg);
}

/** --------------------
 * インプットのラベル
 * ------------------ */
.subscribe_form label {
	display: inline-block;
	width: 20%;
	margin-right: 1rem;
	color: #90ae23;
	font-size: 1.2rem;
	text-align: right;
}

/** --------------------
 * インプット
 * ------------------ */
.subscribe_form input[type=text] {
	display: inline-block;
	width: calc(80% - 1rem);
	padding: .8rem;
	border: 2px solid #90ae23;
	border-radius: 4px;
	font-size: 1.2rem;
}
.subscribe_form input[type=text]::placeholder {
	color: #ccc;
}

/** --------------------
 * ボタン
 * ------------------ */
.subscribe_form button {
	margin-top: 1.8rem;
	width: 25%;
	padding: .8rem;
	background: #90ae23;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 0 0 #4e5e15;
	color: #fff;
	font-size: 1.2rem;
	cursor: pointer;
	animation-name: buttonAnime;
	animation-duration: 3.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
}
.subscribe_form button:hover {
	box-shadow: none;
	animation-name: buttonAnime2;
	box-shadow: inset 0 1px 1px 0 #4e5e15;
}


/** --------------------
 * アニメーションのキーフレーム
 * ------------------ */
@keyframes buttonAnime {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(0);
	}
	30% {
		transform: rotate(2deg);
	}
	35% {
		transform: rotate(0);
	}
	40% {
		transform: rotate(4deg);
	}
	45% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(0);
	}
}
@keyframes buttonAnime2 {
	0% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(2px);
	}
}


@media screen and (max-width: 640px) {
	.content_subscribe {
		margin-top: 8rem;
	}
	.subscribe_form label {
		display: none;
	}
	.subscribe_form input[type=text] {
		width: 100%;
	}
	.subscribe_form button {
		width: 50%;
	}
}


/** ========================================
 * @FOOTER
 * フッター
 * ====================================== */
footer {
	width: 100%;
	margin-top: 8rem;
	padding: 3.5rem;
	background: #90ae23;
	color: #fff;
	text-align: center;
}